@font-face {
    font-family: 'Nasalization';
    src: url('./Fonts/nasalization-rg.otf') format('opentype');
  }
.prize{
    border: 2px solid whitesmoke ;
    border-radius: 15px;
    height: 400px;
    width:330px;
    color: white;
    background-color: rgba(128, 128, 128, 0.355);
    /* font-family: 'Exo 2'; */
    font-family: 'Nasalization', sans-serif;
    font-weight: bold;
    margin-bottom: 5vw;
}

.img>img{
    height: 200px;
   
    
}

.pos{
    color: blanchedalmond;
    padding-top: 20px;
    font-family: 'Nasalization', sans-serif;
}

h1{
    font-family: 'Nasalization', sans-serif;
    color: blanchedalmond;
    font-size: 3vw;
}

.img{
    padding-bottom: 10px;
    
}

.amt h3{
    display: flex;
    align-items: center;
    padding-left: 100px;
    padding-bottom: 10px;
    font-family: 'Nasalization', sans-serif;
}

.prize:hover{
    transform: scale(1.1);
}