.teamright{
    width:90vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap-reverse;
    padding-left: 7.5vw;
}
.teamright img{
    width:8rem;
    border-radius: 10px;
    display: inline-block;
    margin-left: 3rem;
    margin-top: 3rem;
    border-radius: 50%;
}
.teamachievement{
    width:60vw;
    height:8rem;
    border-radius: 10px;
    display: inline-block;
    background-color: #012147;
    padding: 1rem;
    color:white;
    margin-right: 2rem;
    margin-top: 1rem;
}

.teamachievement span{
    font-size: 1.1rem;
    color:rgb(8, 100, 247);
}
@media(max-width:900px)
{
    .teamright{
        width:90vw;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap-reverse;
        padding-left: 0;
    }
    .teamright img{
        width:8rem;
        border-radius: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3rem;
        border-radius: 50%;
    }
    .teamachievement{
        width:80vw;
        height:auto;
        border-radius: 10px;
        display: block;
        background-color: #012147;
        padding: 1rem;
        color:white;
        margin-right: auto;
        margin-left: auto;
        margin-top: 1rem;
    }
    
    .teamachievement span{
        font-size: 1.1rem;
        color:rgb(8, 100, 247);
    }
}