.mainpagehead{
    text-align: center;
    color:yellow;
    /* text-shadow: 0px 0px 10px 10px black; */
    margin-top: 5rem;
}
.mainpageheadabout{
    text-align: center;
    color:yellow;
    /* text-shadow: 0px 0px 10px 10px black; */
    margin-top: -4rem;
}
@media(max-width:900px)
{
    .mainpagehead{
        text-align: center;
        color:yellow;
        /* text-shadow: 0px 0px 10px 10px black; */
        margin-top: 3rem;
    }
    .mainpageheadabout{
        margin-top: 3rem;
    }
}