.shape{
    width:80vw;
    height:30vh;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0, 102, 255);
    border-top-right-radius:10rem;
    border-bottom-left-radius: 10rem;
}
.shape h2{
    position: relative;
    left:18rem;
    top:8rem;
    font-size: 2rem;
    color:white
}
.blogimage{
    width:15vw;
    margin-top: -8rem;
    margin-right: 10rem;
}
.blogcontent{
    width:80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(235, 229, 229, 0.951);
    padding:2rem;
    background-image: linear-gradient(rgb(255, 255, 255),rgb(211, 231, 255));
}
@media(max-width:900px)
{.shape{
    width:95vw;
    height:20vh;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0, 102, 255);
    border-top-right-radius:5rem;
    border-bottom-left-radius: 5rem;
}
.shape h2{
    position: relative;
    left:10rem;
    top:4rem;
    font-size: 1rem;
    color:white;
    width:50vw;
}
.blogimage{
    width:35vw;
    margin-top: -8rem;
    margin-right: 10rem;
}
.blogcontent{
    width:90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    border-radius: 10px;
    box-shadow: 0 0 20px 1px rgba(229, 225, 225, 0.1);
    padding:1rem;
    color: aliceblue;
}

}