.blogcol{
    width:25vw;
    height:auto;
    /* border:1px solid black; */
    box-shadow:0px 0px 20px 1px rgba(243, 240, 240, 0.955);
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 15px;
}
.blogcol img{
    width:25vw;
    height: 20vh;
}
.blogcol h3{
    font-size: 1.2rem;
    margin-top: 0.5rem;
    color:rgb(0, 106, 255);
}
.blogcol p{
    font-size: 0.8rem;
    padding: 0px 1rem 0 1rem;
    color: aliceblue;
}
.blogcol h5{
    font-size: 1rem;
    position: relative;
    left:6vw;
    color:rgb(0, 106, 255);
}
.blogcol:hover {
    transform: scale(1.1);
}
@media(max-width:900px)
{
    .blogcol{
        width:90vw;
        height:auto;
        box-shadow:0px 0px 20px 1px rgba(242, 238, 238, 0.942);
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .blogcol img{
        width:90vw;
        height:30vh
    }
    .blogcol h3{
        font-size: 1.2rem;
        margin-top: 0.5rem;
        color:rgb(0, 106, 255);
    }
    .blogcol p{
        font-size: 0.8rem;
        padding: 0px 1rem 0 1rem;
        color: aliceblue;
    }
    .blogcol h5{
        font-size: 1rem;
        position: relative;
        left:20vw;
        color:rgb(0, 106, 255);
    }
}