.event__img > img{
    width: 70px;
    border-radius: 5px;
    padding-right: 15px;
    
}

.event__list{
    padding-left: 0px;
    display: flex;
    align-items: center;

}

.event__link:hover{
    text-decoration: underline ;
    cursor: pointer;
}

@media screen and (max-width:1100px) {
    .event__img > img{
        width: 60px;
    }

    .event__link >h3{
        font-size:17px ;
    }
}

@media screen and (max-width:1000px) {
    .event__img > img{
        width: 70px;
    }

    .event__link >h3{
        font-size:1.17em ;
    }
}