.head{
    display: flex;
    justify-content: space-between;
    
    width:100%;
}

.head_container{
    width:20%;
}

@media screen and (max-width:850px) {
    .head{
        flex-wrap: wrap;
    }
    .head_container{
        width: 35%;
    }

    .head{
        justify-content: space-evenly;
    }
}

@media screen and (max-width:550px) {
    .head{
        justify-content: space-between;
    }

    .head_container{
        width: 45%;
    }
}

@media screen and (max-width:450px) {
    .head_container{
        width: 47%;
    }
}
